{% extends "base.html" %}
{% load bootstrap %}

 
 {% block title %}レビュー編集{% endblock %}
{% block content %}

<h1 style="text-align:center">レビュー編集</h1>
<style>
.hoge_button{
  text-align: center;
  font-size: 18px;                     
  padding: 10px 10px;
  border-radius: 15px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #16d3ba 0%, #23b4e0e8 100%);
  transition: .4s;
  border:none;
}
    
.txt2{
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 1em 0.5em;
  line-height: 200px;
  border: 1px solid #999;
  box-sizing: border-box;
  margin: 0.5em 0;
}
table td{
  padding: 20px 20px 20px 20px;
}

table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 750px;
  border: solid 1px #ddd;
}

table tr:last-child{
  border:solid 1px #ddd;
}

table th{
  text-align: center;
  padding: 10px 0;
  border:solid 1px #ddd;
  width: 200px;                  
}
    
/* スコア入力の★ */
.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.evaluation input[type='radio']{
  display: none;
}

.evaluation label{
  position: relative;
  padding: 10px 10px 0;
  color: #ccc;
  cursor: pointer;
  font-size: 30px;
}

.evaluation label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: gray;
}

.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc33;
}

/* スコア表示の★ */
.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;

}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}
</style>
<table>
  <tr>
    <th>評価:</th>
    <td>
      <form class="review-form" action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="score" value="{{ review.score }}">
        <div class="evaluation">
          <input id="score1" type="radio" name="score" value="5" />
          <label for="score1"><span class="text">最高</span>★</label>
          <input id="score2" type="radio" name="score" value="4" />
          <label for="score2"><span class="text">良い</span>★</label>
          <input id="score3" type="radio" name="score" value="3" />
          <label for="score3"><span class="text">普通</span>★</label>
          <input id="score4" type="radio" name="score" value="2" />
          <label for="score4"><span class="text">悪い</span>★</label>
          <input id="score5" type="radio" name="score" value="1" />
          <label for="score5"><span class="text">最悪</span>★</label>
        </div>
        <br>
        <label for="comment">コメント:</label>
        <input type="text" class="txt2" id="content" name="content" value="{{ review.content }}">
          <div style = "text-align: center;">
           <input class="hoge_button" type="submit" value="更新する">
         </div>      
      </form> 
    </td>
  </tr>
</table>
<br>
<br>     
  {% csrf_token %}
    <div style="text-align: center">
      <a href="{% url 'top' %}">トップへ戻る</a>
    </div>      
   
{% endblock %}