{% extends "base.html" %}
{% load bootstrap %}

{% block title %}商品詳細{% endblock %}
{% block content %}
<h1>店舗詳細</h1>
<table class="table table-striped table-hover table-bordered">
  
    <table border="1">
        <thead>
            <tr>
                <th>画像</th>
                <th>店舗名</th>
                <th>営業時間</th>
                <th>郵便番号</th>
                <th>住所</th>
                <th>電話番号</th>
                <th>最安価格</th>
                <th>最高価格</th>
                <th>カテゴリー</th>
                
                


            </tr>
        </thead>
        
         <td><img src="{{ Restaurant_detail.img.url }}" style="width:100px heigth:auto;"></td>   
         <td>{{ Restaurant_detail.name }}</td>
         <td>{{ Restaurant_detail.business_hours }} </td>
         <td>{{ Restaurant_detail.zip_code }} </td>
         <td>{{ Restaurant_detail.address }} </td>
         <td>{{ Restaurant_detail.phone_number }} </td>
         <td>{{ Restaurant_detail.min_price }} </td>
         <td>{{ Restaurant_detail.max_price }} </td>
         <td>{{ Restaurant_detail.category }} </td>
         
         
           
           
         

      </tr>
    
    
    
   
</table>
<a href="{% url 'list' %}">戻る</a>
{% endblock %}