{% extends "base.html" %}
{% load bootstrap %}
 
 {% block title %}トップ画面{% endblock %}
 {% block content %}
<body>
 <style>
.container {
  position: relative;
  width: 1280px;
  max-width: 100%;
  height: 853px;
}

.image {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: change-img-anim 30s infinite;
}

.image:nth-of-type(1) {
  animation-delay: 0s;
}

.image:nth-of-type(2) {
  animation-delay: 8s;
}

.image:nth-of-type(3) {
  animation-delay: 16s;
}
@keyframes change-img-anim {
  0% { opacity: 0; }
  30% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
</style>
<div class="container">
  <img class="image" src="/media/image.png" >
  <img class="image" src="/media/2.jpg" >
  <img class="image" src="/media/1.jpg" >
</div>
<br>
<br>
<style>  
/*フォーム全体を中央へ*/
#form1{
  display: flex;
  justify-content: center; 	
  height:50px;
}
/*入力フォーム*/
#sbox2{
  width:250px;
  padding:0 15px;
  border-radius:4px 0 0 4px;
  background: transparent;/*背景カラー透明*/
  border:2px solid #7fbfff;/*枠線の指定*/
  border-right: none;/*枠線の右側だけ削除*/
  outline:0;
}
/*検索ボタン*/
#sbtn2{
  width:50px;
  border-radius:0 4px 4px 0;
  background:#7fbfff;
  border:none;
  color:#fff;
  font-size:18px;
  cursor: pointer;
}
#sbtn2:hover{
background: #92dbff;/
}
  </style>
   <h1 style="text-align:center">店舗検索</h1>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
     <form id="form1" action="" method="get">
       <input id="sbox2" name="search_query" type="text" placeholder="店舗名・キーワードを入力" />
       <button id="sbtn2" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
     </form>
  <br>
  <br>
  <br>
  <br>
  <style>
.hoge_button{
  text-align: center;
}

.btn-gradient-radius {
  display: inline-block;
  text-align: center;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}     
</style>
   <h2 style="text-align:center">カテゴリーで検索</h2>
      <div class="hoge_button">
        <a href="?search_category=居酒屋" class="btn-gradient-radius" >居酒屋</a>
        <a href="?search_category=焼肉" class="btn-gradient-radius" >焼肉</a>
        <a href="?search_category=寿司" class="btn-gradient-radius">寿司</a>
        <a href="?search_category=そば" class="btn-gradient-radius">そば</a>
        <a href="?search_category=ラーメン" class="btn-gradient-radius">ラーメン</a>
        <a href="?search_category=和食" class="btn-gradient-radius">和食</a>
    </div>   

<br>
<br>
<style>
.flex{
  display:inline-block;
  text-align: center;
}

.class{
  text-align: center;
  justify-content: center;
  display:inline-block;
  flex-wrap: wrap;
  margin-left: 7px;
} 
</style>
<h1>店舗一覧</h1> 
  <div class="flex">
      {% for Restaurant in object_list %}
    <div class="class"> 
        <table border="1"> 
          <tr><td>{{ Restaurant.name }}</td></tr>
          <td ><a href="{% url 'detail' pk=Restaurant.pk %}"><img src="{{ Restaurant.img.url }}" style="width:100px height:auto;"></a></td>          
       </table >
    </div>
  </div>
      {% endfor %}
</body>
 
{% endblock %}