{% extends "base.html" %}
{% load bootstrap %}
 
 {% block title %}アカウント作成画面{% endblock %}
 {% block content %}
 <h1>会員登録</h1>
 <form method="post" action="test.html">
  <table width="1000" border="0">
     <tr>
　     <th>名前</th>
       <th><input type="text" maxlength="100" placeholder="山田太郎" id="name">
     </tr>
     <tr>
       <th>名前(ふりがな)</th>
       <th><input type="text" maxlength="200" placeholder="やまだたろう" id="name_huri"></th>
     </tr>
     <tr>
       <th>メールアドレス</th>
       <th><input type="text" maxlength="254" placeholder="aaaa@gmail.com" id="mail"></th>
     </tr>
      <tr>
       <th>パスワード</th>
       <th><input type="password" maxlength="20" placeholder="半角英数8文字以上" id="pass"></th>
     </tr>
     <tr>
        <th>パスワード再入力</th>
        <th><input type="password" maxlength="20" placeholder="半角英数8文字以上" id="repass"></th>
     </tr>
     <tr>
        <th>郵便番号</th>
        <th><input type="text" maxlength="7" placeholder="ハイフンなし" id="yuubin"></th>
     </tr>
     <tr>
        <th>住所</th>
        <th><input type="text" maxlength="200" id="address"></th>
     </tr>
     <tr>
        <th>電話番号</th>
        <th><input type="text" maxlength="21" placeholder="ハイフンなし" id="phone"></th>
      </tr>
      <tr>
        <th>生年月日</th>
        <th><input type="date" name="calendar" max="9999-12-31" id="birth"></th>
      </tr>
  </table>
  <br/>
  <input type="submit" value="会員登録" id="touroku">
  </form>

 {% endblock %}